<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 注意：文件名必须跟Dao类名字一致，因为是根据文件名做关联。 -->
<mapper namespace="com.xwh.article.mapper.PostMapper">

    <select id="userListPage" resultType="com.xwh.article.entity.Post">
        SELECT * FROM post p
        LEFT JOIN post_tag pt ON pt.post_id = p.post_id
        LEFT JOIN tag t ON pt.tag_id = t.tag_id
        <where>
            <if test="userId != null">
                AND p.user_id = #{userId}
            </if>
            <if test="param.tagId != null and param.tagId != ''">
                AND pt.tag_id = #{param.tagId}
            </if>
            <if test="param.status != null and param.status != 0">
                AND p.status = #{param.status}
            </if>
            <if test="param.title != null">
                AND p.title LIKE CONCAT('%', #{param.title}, '%')
            </if>
            <if test="param.postId != null">
                AND p.id = #{param.postId}
            </if>
        </where>
    </select>

    <!--  查询所有文章关联标签查询  -->
    <select id="listPage" resultType="com.xwh.article.entity.Post">
        SELECT * FROM post_tag pt
        LEFT JOIN post p ON pt.post_id = p.post_id
        LEFT JOIN tag t ON pt.tag_id = t.tag_id
        <where>
            <if test="param.tagId != null and param.tagId != ''">
                AND pt.tag_id = #{param.tagId}
            </if>
            <if test="param.status != null and param.status != 0">
                AND p.status = #{param.status}
            </if>
            <if test="param.title != null">
                AND p.title LIKE CONCAT('%', #{param.title}, '%')
            </if>
            <if test="param.postId != null">
                AND p.id = #{param.postId}
            </if>
        </where>
    </select>

</mapper>

