<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 注意：文件名必须跟Dao类名字一致，因为是根据文件名做关联。 -->
<mapper namespace="com.xwh.system.mapper.SysRoleMenuMapper">
    <select id="listByRoleId" resultType="com.xwh.system.entity.SysMenu">
        select a.*
        from sys_menu a
                 LEFT JOIN sys_role_menu b ON (b.menu_id = a.menu_id)
        <where>
            <if test="menuType != null and menuType != ''">
                and a.menu_type = #{menuType}
            </if>
            <if test="roleIds != null and roleIds != ''">
                and b.role_id in (${roleIds})
            </if>
        </where>
        GROUP BY a.menu_id
    </select>
</mapper>
